@font-face {
  font-family: "Sporting Grotesque";
  src: url("SportingGrotesque-Regular.otf");
  src: url("sportinggrotesque-regular-webfont.woff") format("woff"),
  url("sportinggrotesque-regular-webfont.woff2") format("woff2");
  }  
@font-face {
  font-family: 'Christopherhand';
  font-style: normal;
  font-weight: normal;
  src: local('Christopherhand'), url('comesinhandy.woff') format('woff');
  }
* {
  box-sizing: border-box;
}

body {
  font-family: 'Sporting Grotesque', 'Helvetica Neue', sans-serif;
  background: #f4f2f2;
  color: #030303;
  margin: 0px;
}
::selection {
  background: #FF1C5E;
  color: white;
}
.site-container {
  display: flex;
  width: 95%;
  height: 100vh;
  justify-content: space-between;
  margin: 0px auto;
}
.about  {
  width: 30%;
  /* overflow: scroll; */
}
a {
  padding-bottom: 1px;
  text-decoration: none;
  border-bottom: 1px solid #c3c3c3;
  color: #030303
}
a:hover {
  color: #707070;
  border-bottom: 1px solid #c3c3c3;
}
.intro, .contact > a, .projects {
  font-family: 'Helvetica Neue', helvetica, sans-serif;
  line-height: 1.25em;
}
/* .contact {
  width: 100%;
  display: flex;
} */
.contact a {
  margin-right: 0.5vw;
}
.name {
  margin-bottom: 0px;
}
.pronouns {
  margin-top: 0px;
}
.wrapper {
  padding-left: 1vw;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /* padding: 0 2rem; */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  height: 100%;
}
.polaroid {
  background: #f6f6f6;
  padding: 0.93rem;
  padding-top: 1.75rem;
  box-shadow: 0 1rem 1.2rem rgba(0,0,0,0.15);
  border-radius: 8px;
}
.polaroid > img {
  max-width: 100%;
  height: auto;
}
.caption {
  font-family: Christopherhand, 'Helvetica Neue', helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 180%;
  text-align: center;
  line-height: 2.25em;
}
.item {
  width: 30%;
  display: inline-block;
  margin-top: 0rem;
  border-radius: 8px;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover {
  cursor: pointer;
  color: #030303;
}

.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .about {
    width: 100%;
  }
  .mobile {
    display: block;
  }
  .wrapper {
    display: none;
  }
  .site-container {
    width: 85%;
  }
  .contact {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: start;
    padding-bottom: 3vh;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .site-container {
    height: auto;
  }
  .about {
    width: 40%;
  }
  .item {
    width: 85%;
  }
  .wrapper {
    width: 60%;
  }
}