.back-arrow {
  display: none;
}
.flexbox {
  margin: 0px auto;
  padding: 0px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.flex-img {
  width: 40%;
}
.flex-info {
  width: 85%;
  margin: 0px;
  padding: 0px;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0.5vw;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.dropshadow {
  box-shadow: -1px 6px 20px 0 silver; 
}
.showcase-content {
  width: 80%;
  display: flex;
  margin: 0px auto;
  flex-direction: column;
  padding-top: 10vh;
}
.showcase-container {
  padding: 5vh 0vh;
}
.showcase-link {
  text-decoration: none;
  color: #f58a07;
  font-size: 125%;
  transition: border-bottom 0.2s ease;
  padding-bottom: 1px;
}
.showcase-link:hover {
  border-bottom: 3px solid #f58a07;
}
.flex-info p,
h1 {
  margin: 0.5vh 0vh;
}
.flex-info ul {
  list-style-type: disc;
  font-size: 125%;
}
.flex-info ol {
  font-size: 125%;
}
.flex-info img {
  width: 100%;
}
.flex-info h2 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
}
.flex-info {
  padding-top: 3vh;
  width: 100%;
}
.split,
.split-mixed {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.split div {
  padding: 0vh 1vh;
}
.split-mixed {
  text-align: left;
  align-items: flex-start;
  justify-content: space-between;
}
.split-mixed div {
  width: 48%;
}
.mockups {
  padding: 0vh 0.5vh;
}
.models {
  align-items: flex-start;
}
.models div {
  flex: 25%;
}
.mobile img {
  width: 70%;
}
.shrink:hover {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .split,
  .split-mixed {
    flex-direction: column;
  }
  .split-mixed div {
    width: 100%;
    padding: 1vh 0vh;
  }
  .models div {
    flex: 50%;
  }
}
@media only screen and (max-width: 767px) {
  nav {
    display: none;
  }
  .back-arrow {
    display: block;
    padding: 2vh;
  }
  header p {
    font-size: 250%;
  }
  header {
    width: 100%;
    background: linear-gradient(-45deg, #909cc2, #f58a07, #084887, #f9ab55);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
  }
  .split,
  .split-mixed {
    flex-direction: column;
  }
  .split-mixed div {
    width: 100%;
    padding: 2vh 0vh;
  }
  .showcase-content {
    width: 85%;
    padding-top: 5vh;
  }
}
