@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Poppins:wght@500;600;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html {
    height: 100%;
}
body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    color: #303030;
    /* Gross and dirty way to fix the bug that causes a sliver of pixels to the right (causing horizontal scroll bar to appear) */
    /* overflow-x: hidden; */
}
ul  {
    list-style-type: none;
}
h3  {
    color: #F58A07;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 400;
}
.background {
    /* Weird aspect rations ruin this img */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.dropshadow {
    box-shadow: 0 14px 28px rgba(27, 33, 48,0.06), 0 10px 10px rgba(27, 33, 48,0.02);
}
a   {
    color: inherit;
}
.anchor {
}
nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
nav > p {
    font-size: 3.7vh;
    left: 4vw;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
nav > ul {
    display: inline-block;
    list-style-type: none;
    padding: 0vh 3vw;
    float: right;
}
nav > ul > li {
    border: 1px solid transparent;
    border-radius: 1vh;
    padding: 1vh 1.2vw;
    margin: 0;
    display: inline-block;
}
nav > ul > li:hover {
    border-radius: 1.5vh;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
nav a   {
    text-decoration: none;
}
nav > ul > li > a {
    font-size: 2.2vh;
}
.navTransparent {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background-color: transparent;
}
.navTransparent > p  {
    font-family: 'Poppins', sans-serif;
}
.navTransparent > ul > li:hover {
    border: 1px solid white;
}
.navTransparent > ul > li > a {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: white;
    font-size: 2.5vh;
}
.navTransparent > p {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: white;
}
.navColor {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background-color: #1c77c3;
    z-index: 99;
}
.navColor > ul > li:hover {
    border: 1px solid white;
}
.navColor > ul > li > a {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: white;
}
.navColor > p {
    font-family: 'Poppins', sans-serif;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: white;
}
footer {
    margin: 3vh 2vw;
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
}
footer > a > img {
    height: auto;
    width: 6vh;
    margin: 0vh 0.2vw;
}
.flexbox    {
    margin: 0px auto;
    padding: 0px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.flex-img   {
    width: 40%;
}
.flex-info  {
    width: 80%;
    margin: 0px;
    padding: 0px;
}
header {
    width: 100%;
	  background: linear-gradient(139deg, rgba(14,85,144,1) 5%, rgba(34,129,200,1) 31%, rgba(57,169,219,1) 47%, rgba(60,177,218,1) 70%, rgba(114,216,240,1) 90%, rgba(141,222,241,1) 98%);
	  background-size: 400% 400%;
	  animation: gradient 12s ease infinite;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.logo-normal {
    width: 100%;
    float: right;
}
.hello  {
    font-size: 8vh;
    color: white;
} 
.animatedtext {
    font-size: 4vh;
    color: white;
    width: 100%;
    font-family: 'Anonymous Pro', sans-serif;
    position: relative;
    margin: 0 auto;
    padding-bottom: 3vh;
}
span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
.main-container {
    padding-top: 3vh;
    height: 60vh;
    width: 80%;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-start;
}
.body-container {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 5vh;
}
p {
    font-size: 2.75vh;
}
h2  {
    font-size: 3.5vh;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: .5vw;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.about-content  {
    width: 100%;
    display: flex;
    margin: 0px auto;
    flex-direction: column;
}
.flex-info p, h1 {
    margin: 1.6vh 0vh;
}
.flex-info ul {
    list-style-type: disc;
    font-size: 2.75vh;
}
#about  {
    padding: 5vh 0vh;
}

.accordion {
    color: #f9ab55;
    background-color: white;
    font-size: 1.3em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    padding: 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    display: block;
}

/* Default to hidden */
.faq-panel {
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(.25,.8,.25,1);
}

.faq-panel ul {
    padding: 1vh 3.5vh;
    padding-right: 1vh;
}
.faq-accordion {
    border: 1px solid #f9ab55;
    padding: 0.8em 1em;
    border-radius: 5px;
    margin: 1em 0;
}

.shrink:hover
{
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}
.projects {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 0px;
}
.projects li {
    list-style-type: none;
    width: 48%;
    margin: 1vw 0px;
}
.projects > li > a > img {
    height: auto;
    width: 100%;
    transition: all 0.5s ease;
    z-index: -1;
}
.projects a {
    text-decoration: none;
}
.projects p, h2, h3 {
    margin: .25vh;
}
.projects h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 .5vh;
  width: 100%;
  justify-content: center;
}
.gallery    {
    padding: 0px;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
}
.slider {
    width: 80%;
    margin: 100px auto;
}
.slick-slide {
  margin: 0px 20px;
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}
.slick-initialized .slick-track {
    display: flex;
    align-items: center;
}

/* Create four equal columns that sits next to each other */
.column {
  max-width: 25%;
  padding: 0 .5vh;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.spacing5   {
    margin-top: 5vh;
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
}
@media only screen and (max-width : 767px){
    nav {
        display: none;
    }
    .hello    {
        font-size: 5vh;
    }
    .projects   {
        flex-direction: column;
        padding-left: 0vh;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }
    .projects li {
        list-style-type: none;
        width: 95%;
        margin: 2vw 0vw;
    }
    header {
        width: 100%;
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    .gallery    {
        flex-direction: column;
        width: 80%;
        margin: 0px auto;
    }
    .column {
        max-width: 100%;
    }
}
