@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html {
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  color: #303030;
}
ul {
  list-style-type: none;
}
h3 {
  color: #f58a07;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
}
.background {
  /* Weird aspect rations ruin this img */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.dropshadow {
  box-shadow: 0 14px 28px rgba(27, 33, 48, 0.06),
    0 10px 10px rgba(27, 33, 48, 0.02);
}
a {
  color: inherit;
}
nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.nav-main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.nav-main > p {
  font-size: 175%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.nav-main > ul {
  display: inline-block;
  list-style-type: none;
  padding: 0vh;
  float: right;
}
.nav-main > ul > li {
  border: 1px solid transparent;
  border-radius: 1vh;
  padding: 1vh;
  padding-right: 0vw;
  padding-left: 2.5vw;
  margin: 0;
  display: inline-block;
}
.nav-main > ul > li:hover {
  border-radius: 1.5vh;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.nav-main a {
  text-decoration: none;
}
.nav-main > ul > li > a {
  font-size: 125%;
}
.navTransparent {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-color: transparent;
}
.navTransparent > .nav-main > p {
  font-family: "Helvetica Neue", sans-serif;
}
.navTransparent > .nav-main > ul > li:hover {
  border: 1px solid white;
}
.navTransparent > .nav-main > ul > li > a {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: white;
}
.navTransparent > .nav-main > p {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: white;
}
.navColor {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-color: #1c77c3;
  z-index: 99;
}
.navColor > .nav-main > ul > li:hover {
  border: 1px solid white;
}
.navColor > .nav-main > ul > li > a {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: white;
}
.navColor > .nav-main > p {
  font-family: "Helvetica Neue", sans-serif;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: white;
}
footer {
  margin: 3vh 2vw;
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
}
footer > a > img {
  height: auto;
  width: 6vh;
  margin: 0vh 0.2vw;
}
.flexbox {
  margin: 0px auto;
  padding: 0px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.flex-img {
  width: 40%;
}
.flex-info {
  width: 80%;
  margin: 0px;
  padding: 0px;
}

.main-container {
  padding-top: 3vh;
  height: 60vh;
  width: 80%;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-start;
}
.body-container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 200%;
}
p {
  font-size: 125%;
}
h2 {
  font-size: 175%;
}
h3 {
  font-size: 125%;
}
